body {
    font-family: monospace;
    background-color: white;
    background-image: url(images/minecraft-background.jpg);
    margin: 0;
    padding: 0;
}

header {
    background-color: #18651b;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    color: white;
}
